@media(max-width: 480px)
{
	.container{ width: 100%; }
	.d-flex{ flex-direction: column; text-align: center; }
	.banner-text-left{ width: 100%; }
	.banner-text-right{ display: none; }
	.popular-inner{ grid-template-columns: auto; }
}

@media(max-width: 1024px) and (min-width: 481px)
{
	.container{ width: 100%; }
}