@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body {
  font-family: 'Lato', sans-serif;
  background: #f3f3f3; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

header {
  background: #222222;
  color: #fff; }
  header .topmenu {
    text-align: right; }
    header .topmenu ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      header .topmenu ul li {
        display: inline;
        font-size: 13px; }
        header .topmenu ul li a {
          text-decoration: none;
          color: #fff;
          padding: 0px 10px;
          border-right: 1px solid #fff; }
  header .input-group-text {
    background: #f10e34;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0; }
  header .circleec {
    width: 35px;
    height: 35px;
    background: #f10e34;
    border-radius: 50%;
    line-height: 35px;
    text-align: center; }

.bg-light {
  background: #f10e34 !important;
  padding: 5px 0; }

.abc, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
  color: #fff;
  text-transform: uppercase; }

.navbar-light .navbar-nav .nav-link {
  padding: 5px 20px; }

.white {
  background: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4); }
  .white .cat ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .white .cat ul li {
      border-bottom: 1px solid #ccc;
      padding: 12px; }
      .white .cat ul li:last-child {
        border: 0; }
      .white .cat ul li:before {
        content: "\f01d";
        font-family: FontAwesome;
        padding-right: 10px; }
      .white .cat ul li a {
        color: #000; }

.banner {
  background: url(../img/banner.jpg);
  height: 380px; }
  .banner h3 {
    color: #303a7a;
    font-size: 38px; }

.downbanner {
  background: #f10e34;
  color: #fff; }

.shoes h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px; }
.shoes .hotdeals img {
  padding-top: 20px; }
.shoes .hotdeals h4 {
  font-size: 16px;
  padding: 15px 0 0 0; }

.rating {
  color: #ffc808; }

.owl-nav {
  position: absolute;
  top: -50px;
  right: 0; }

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: #f10e34;
  color: #fff;
  font-size: 22px;
  margin: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  outline: 0; }

img.mr-3 {
  width: 70px !important;
  height: 70px; }

.owl-carousel .owl-item img {
  width: auto !important; }

.client {
  background: #f10e34;
  padding: 20px; }

footer {
  background: #222222;
  color: #fff; }

.breadcrumb {
  background: #f10e34; }
  .breadcrumb a {
    color: #fff; }
  .breadcrumb .breadcrumb-item.active {
    color: #fff; }

.quantity {
  float: left;
  margin-right: 15px;
  background-color: #eee;
  position: relative;
  width: 80px;
  overflow: hidden; }

.quantity input {
  margin: 0;
  text-align: center;
  width: 15px;
  height: 15px;
  padding: 0;
  float: right;
  color: #000;
  font-size: 20px;
  border: 0;
  outline: 0;
  background-color: #F6F6F6; }

.quantity input.qty {
  position: relative;
  border: 0;
  width: 100%;
  height: 40px;
  padding: 10px 25px 10px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0;
  background-clip: padding-box; }

.quantity .minus, .quantity .plus {
  line-height: 0;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-size: 6px 30px;
  -moz-background-size: 6px 30px;
  color: #bbb;
  font-size: 20px;
  position: absolute;
  height: 50%;
  border: 0;
  right: 0;
  padding: 0;
  width: 25px;
  z-index: 3; }

.quantity .minus:hover, .quantity .plus:hover {
  background-color: #dad8da; }

.quantity .minus {
  bottom: 0; }

.shopping-cart {
  margin-top: 20px; }

.gallery-wrap .img-big-wrap img {
  height: 400px;
  width: 400px;
  /* width: auto;*/
  display: inline-block;
  cursor: zoom-in; }

.gallery-wrap .img-small-wrap .item-gallery {
  width: 70px;
  height: auto;
  margin: 7px 2px;
  display: inline-block;
  overflow: hidden; }

.gallery-wrap .img-small-wrap {
  text-align: center; }

.gallery-wrap .img-small-wrap img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
  /*cursor: zoom-in;*/ }

.price-title {
  font-weight: 700; }

.price {
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  max-height: 66px;
  overflow: hidden;
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 700;
  width: 100%;
  padding: 0;
  float: none; }

.color-price-waanbii {
  color: #FA3A11; }

.color-box-waanbii {
  background: #FD6342;
  color: white; }

.fa-beat {
  animation: fa-beat 5s ease infinite; }

@keyframes fa-beat {
  0% {
    transform: scale(1); }
  5% {
    transform: scale(1.25); }
  20% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  35% {
    transform: scale(1.25); }
  50% {
    transform: scale(1); }
  55% {
    transform: scale(1.25); }
  70% {
    transform: scale(1); } }
.navbar {
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 1px 3px 4px 0 #adadad33; }

.navbar-light .navbar-brand {
  color: #2196F3; }

.navbar-light .navbar-nav .nav-link {
  color: #1ebdc2; }

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #1ebdc2; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff; }

.navbar-light .navbar-nav .nav-link {
  padding-top: 22px;
  padding-bottom: 22px;
  transition: 0.3s;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 14px; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  background: #1ebdc2;
  transition: 0.3s; }

.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1ebdc2 !important; }

.sm-menu {
  border-radius: 0px;
  border: 0px;
  top: 97%;
  box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px; }

.dropdown-item {
  color: #3c3c3c;
  font-size: 14px; }

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #2196F3; }

.navbar-toggler {
  outline: none !important; }

.navbar-tog {
  color: #1ebdc2; }

.megamenu-li {
  position: static; }

.megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px; }

.megamenu h6 {
  margin-left: 21px; }

.megamenu i {
  width: 20px; }

/*# sourceMappingURL=style.css.map */
